* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 20px;
}

:host ::ng-deep {
  h1.title-survey-message {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;
  }
  .next-step-button {
    width: 100%;
    height: 40px;
    background: #ee0033;
    color: white;
    border-radius: 8px 8px 8px 8px;
    outline: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
  }
  .background-survey {
    width: 90%;
    overflow: hidden;
  }
  h1,
  h2 {
    margin-top: 18px;
    font-size: 12px;
    color: black;
    font-weight: normal;
  }
  .background-survey-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    h1 {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      /* identical to box height */

      color: #ee0033;
    }
  }
  .background-survey-group {
    * {
      font-size: 14px;
      line-height: 20px;
    }
    // background: red;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .rate-item-background {
    .rate-item {
      width: calc(100% / 3 - 5vh);
      display: flex;
      justify-content: center;
      .item-rate {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 1px solid transparent;
        background: #979797;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
    display: flex;
    padding: 10px;
    border-radius: 10px;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    flex-grow: 4;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
  }
  .text-area-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    > textarea {
      outline: 0;
      border: 1px solid gray;
      border-radius: 5px;
      max-height: 120px;
      overflow-y: auto;
      padding: 10px;
      width: 100%;
    }
    > button {
      margin-top: 10px;
    }
  }
  .background-survey-form div {
    > h1,
    h2 {
      font-size: 12px;
    }
  }
  .checkbox-survey {
    .checkbox-survey-item {
      > span {
        margin-left: 10px;
      }
    }
  }
  .complete-survey-step {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}

//custom button with click
.item-rate-clicked-case1,
.item-rate-clicked-case2,
.item-rate-clicked-case3 {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  align-items: center;
}
.item-rate-clicked-case1 {
  background: #ee0033;
  border: 2px solid rgba(238, 0, 51, 0.3);
}
.item-rate-clicked-case2 {
  background: #fe9a00;
  border: 2px solid rgba(254, 154, 0, 0.3);
}
.item-rate-clicked-case3 {
  background: #58b84f;
  border: 2px solid rgba(88, 184, 79, 0.3);
}
